<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.RoleMapper">
    <select id="findRole" parameterType="long" resultType="role">
        SELECT *FROM role WHERE id = #{id}
    </select>
    <insert id="insertRole" parameterType="role">
        INSERT INTO role(rolename,note,uid) VALUES (#{roleName},#{note},#{uid})
    </insert>
</mapper>